@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    /* border: #fff solid 5px; */
  }

  body {
    background-color: #053B50;
    color: white;
  }

  section {
    width: 100%;
    height: auto;
    padding: 10rem 9% 2rem;
  }

  /* Navbar */
  .header {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .navbar a {
    color: #fff;
    line-height: 30px;
    padding: 10px;
  }

  .navbar a:hover {
    color: #64CCC5;
  }

  /* Hero Section */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 300px;
  }
  
  @keyframes floatImage {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .detail {
    margin-top: -100px;
    margin-left: 50px;
  }

  .detail h2 {
    font-size: 4.2rem;
    font-weight: 700;
  }

  .detail h2:nth-of-type(2) {
    margin-bottom: 2rem;
  }

  span {
    color: #64CCC5;
  }

  .detail h4 {
    font-size: 30px;
  }

  .detail p {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .btn {
    display: inline-block;
    font-size: 10px;
    background-color: #64CCC5;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 20px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .container img {
      margin-right: 0;
      width: 50vw;
    }

    .detail {
      margin-left: 0;
      margin-top: 40px;
      text-align: center;
    }

    .detail h2 {
      font-size: 35px
    }

    .detail p {
      font-size: 20px;
    }

    .btn {
      font-size: 20px;
    }
  }

  @media (max-width: 450px) {
    .navbar {
      font-size: 10px;
    }

    .detail h2 {
      font-size: 30px;
    }

    .detail p {
      font-size: 20px;
    }

    .btn {
      font-size: 15px;
    }
  }